---
import "../../styles/global.css";
import { getCollection, render } from "astro:content";
import { toSlug } from "../../lib/buildGraphData";

export async function getStaticPaths() {
  const pages = await getCollection("pages");
  return pages
    .filter((n) => n.data.order > 0)
    .map((note) => ({
      params: { slug: toSlug(note.id) },
      props: { note },
    }));
}

const { note } = Astro.props;
const { Content } = await render(note);
---

<html lang="en">
  <head><meta charset="UTF-8" /></head>
  <body>
    <section class="leading-relaxed">
      <Content />
    </section>
  </body>
</html>
