---
import "../../styles/global.css";
import { getCollection, render } from "astro:content";

const allPages = await getCollection("pages");
const entry = allPages.find((n) => n.data.order === 0);
if (!entry) throw new Error("Missing index note (order: 0)");
const { Content } = await render(entry);
---

<html lang="en">
  <head><meta charset="UTF-8" /></head>
  <body>
    <section class="leading-relaxed">
      <Content />
    </section>
  </body>
</html>
